.control-container {
  width: 100%;
  padding: 5%;
}

.control-container>* {
  width: 100%;
}

.add-bottom-padding {
  padding-bottom: 10px;
}

mat-radio-group mat-radio-button {
    margin-left: 5px;
}

.row-btn button {
  margin: 5px;
}